@import url("https://fonts.googleapis.com/css2?family=Anton&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  /* colors */
  --footer-color: rgb(0, 0, 0);
  --header-active-color: rgb(230, 119, 23);

  --title-color: rgb(230, 119, 23);
  --text-color-dark: rgb(0, 0, 0);
  --text-color-light: rgb(255, 255, 255);

  --cta-color-filled: rgb(230, 119, 23);
  --cta-color-nonfilled: rgb(0, 0, 0);

  /* textsizes */
  --h1-size: clamp(54px, 5vw, 120px);
  --h2-size: clamp(36px, 5vw, 70px);
  --p-size: clamp(18px, 2vw, 24px);
  --cta-text-size: clamp(16px, 2vw, 20px);

  /* textstyles */
  --font-family-anton: "Anton", sans-serif;
  --font-family-inter: "Inter", sans-serif;
  --font-weight-light: 400;
  --font-weight-normal: 500;
  --font-weight-medium: 600;
  --font-weight-bold: 800;
  --font-weight-thick: 1000;
  --font-style-normal: normal;

  /* general */
  --border-radius: 20px;
  --border-radius-cta: 5px;

  --dropshadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
