/* reset */
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-image: url("../assets/fotos/background-photo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

img {
  max-width: 100%;
  height: auto;
}

main {
  margin: 0 8vw;
}

/* textstyles */

h1 {
  font-family: var(--font-family-anton);
  font-size: var(--h1-size);
  color: var(--title-color);
  font-weight: var(--font-weight-light);
  font-style: var(--font-style-normal);
  line-height: 1;
  margin-bottom: 1ch;
}

h2 {
  font-family: var(--font-family-anton);
  font-size: var(--h2-size);
  color: var(--title-color);
  font-weight: var(--font-weight-light);
  line-height: 1;
  margin-bottom: 0.8ch;
}

p {
  font-family: var(--font-family-inter);
  font-size: var(--p-size);
  color: var(--text-color-dark);
  font-weight: var(--font-weight-light);
  line-height: 1.5;
}

nav li {
  list-style-type: none;
  font-family: var(--font-family-anton);
  font-size: var(--h2-size);
  color: var(--text-color-light);
}

.title-split {
  display: block;
  padding-left: 1.5ch;
}
